@font-face {
    font-family: "nevis";
    src: url("fonts/nevis.eot");
    src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"), url("fonts/nevis.woff") format("woff"), url("fonts/nevis.ttf") format("truetype"), url("fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "fjalla";
    src: url("fonts/FjallaOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icons";
    src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg'), url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot#iefix") format("embedded-opentype"), url("fonts/websymbols-regular-webfont.woff")format("woff"), url("fonts/websymbols-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(../img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

a {
    color: #1d647e;
    text-decoration: none;
}

a:visited {
    color: #1d647e;
}

a:hover {
    color: #4cbbe4;
}

.fondo {
    background-color: #333333;
}

.icon {
    font-family: "icons";
    float: left;
    margin-right: 5px;
    margin-top: -1px;
}

.clearfix {
    float: none;
    clear: both;
}

/* FORMULARIOS */

input[type="text"], input[type="email"], input[type="password"], select {
    border: 1px solid #c9c9c9;
    box-shadow: 0px, 0px, 2px #ccc inset;
    background: white;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus {
    border: 1px solid #71d4f8;
    color: black;
    box-shadow: 0px 0px 3px #2596be;
}

input[type="button"], input[type="submit"], input[type="reset"], button {
    display: block;
    border-radius: 2px;
    border: 1px solid #29addd;
    width: 60px;
    padding: 3px;
    color: white;
    background-color: #149efa;
    cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
    box-shadow: 0px 0px 2px gray;
}

input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, button:active {
    box-shadow: 0px 0px 3px gray inset;
    text-shadow: 0px 0px 1px #ccc;
}

/* HEADER */

#header {
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

#header a {
    text-decoration: none;
}

#header #logotipo {
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
}

#header #logotipo img {
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 200px;
}

#header h1 {
    text-align: center;
    font-size: 50px;
    color: #2596be;
    font-family: "nevis";
    letter-spacing: 5px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px black;
    transition: all 300ms;
}

#header h1:hover {
    text-shadow: 0px 2px 1px black, 0px 0px 4px #2596be;
}

#header h1 a {
    color: #2596be;
}

/* BARRA DE NAVEGACIÓN */

#nav {
    width: 100%;
    height: 40px;
    background-color: #494949;
    color: white;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 15px;
    box-shadow: 0px 0px 2px gray;
    margin-top: 60px;
}

#nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 997px;
}

#nav>ul>li {
    line-height: 40px;
    float: left;
    border-right: 1px solid gray;
    transition: all 300ms;
}

#liindex {
    border-left: 1px solid gray;
}

#nav>ul>li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

#nav>ul>li:hover {
    background-color: #2596be;
    box-shadow: 0px 0px 4px rgb(37, 96, 206) inset;
}

/* MENÚ DESPLEGABLE */

#nav>ul>li>ul {
    display: none;
    position: absolute;
    width: 160px;
    box-shadow: 0px 2px 2px gray;
    z-index: 1;
}

#nav>ul>li:hover>ul {
    display: block;
}

#nav>ul>li:hover>ul>li {
    background-color: #dbdbda;
    border-bottom: 1px solid #afafaf;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
}

#nav>ul>li:hover>ul>li a {
    color: #666666;
}

#nav>ul>li:hover>ul>li:hover {
    box-shadow: 0px 0px 6px rgb(250, 244, 244) inset;
}

/* ASIDE */

#contenido {
    width: 1250px;
    min-height: 1100px;
    margin: 0px auto;
}

#aside {
    width: 200px;
    float: left;
    margin: 40px;
    background-color: rgb(241, 241, 241);
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;
    font-family: sans-serif, Arial, Helvetica;
}

#aside .widget {
    display: block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #333333;
}

#aside .widget {
    margin-bottom: 15px;
}

#aside h3 {
    display: block;
    color: #333333;
    text-align: center;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    background: #e4e4e4;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

#aside li {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square;
}

#aside div label, #aside div input[type="text"], #aside div input[type="email"], #aside div input[type="password"], #aside div a {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#aside div input[type="button"], #aside div input[type="submit"], #aside div button {
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 53px;
}

#aside input, #aside label {
    margin: 0px;
    text-align: center;
}

.red {
    color: #9b2422 !important;
}

.blue {
    color: #0c73f2 !important;
}

/* SECCIONES */

#secciones {
    float: right;
    width: 75%;
    font-family: sans-serif, Arial, Helvetica;
    margin-right: 20px;
}

#secciones .titulo {
    font-family: "fjalla";
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#secciones section {
    margin-top: 40px;
    background-color: rgb(241, 241, 241);
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333333;
    font-size: 16px;
    overflow: hidden;
}

#secciones .article {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#secciones .date {
    color: gray;
}

#historico {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

#noticias{
    color: #054d68;
    text-decoration: none;
    font-size:16px;
}

#noticias:hover{
    color: #1186b1;
    text-decoration: none;
    font-size:16px;
}

#footer {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-top: 60px;
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-family: sans-serif;
    font-size: 15px;
    box-shadow: 0px 0px 2px gray;;
}

#footer p{
    margin-top: 5px;
    padding-bottom: 5px;
}

#linkgithub{
    color: lightseagreen;
    text-decoration: none;
}